<html>
    <div class="CharacterIndex">
       <% @characters.each do |character| %>
            <div>
                <figure id="Image">
                    <%= image_tag(character.image_url) %>
                </figure>
                <%= link_to character.proper_name, character_path(character), :class => "button has-background-danger is-outlined is-focused is-fullwidth" %>
            </div>
        <% end %>
    </div>  
</html>  
