/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bulma";
//  @import "bulma-extensions";

html {
  margin: 0px;
  height: 100%;
  width: 100%;
}

body {
  display:flex;
  flex-direction:column;
  justify-content:space-between;
  min-height:100vh;
}
.header {
  background-color:$black;
  color: $white;
  padding:2rem 1.5rem;
  justify-content: space-around;
}
div#imageHeader{
  padding:0;
  img {
  width: 332px;
  height: 187px;
  }
}
// .figure#tekken{
//   width: 442.5px;
//   height: 249px;
// }

.section {
  display:flex;
  flex: 1 1 auto;
  background-image: url(https://lh3.googleusercontent.com/proxy/IplA199nJksp9vyeWGfkcRNA-Ceb7QoNirXs0wnbVLpPycwhjwWKTyeVMGvZsyQ5tNiTuV7jay9vkQOz-17AG9T2ypQoUJGf2K9at5Pg-SR3lHpDFRV7jSky56Mpv0Ayi5fZz2NwDVZ4HdCV5FgBigV1YirByB7kTG0UAA);
  .container {
    // display:flex;
    flex:1;
    background-color:$grey;
    // margin-top: -48px;
    // margin-bottom: -48px;
    // padding-left:100px;
    // padding-right:100px;
    // padding-bottom: 100px;
    margin-left: 100px;
    margin-right: 100px;
    color:$white;
    // width: 70%;
    height:100%;
  }
  
  // padding-left:100px;
  // padding-right:100px;
}



.footer {
  display:flex;
  align-items: flex-end;
}
