// Place all the styles related to the Forums controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


#Profile {
    border-style: solid;
    border-color: white;
    height: 100%;
}

#ContentBox {
    border-style: solid;
    border-color: white;
    height: 158px;
    
}

#ContentBox:hover {
    background-color: blue;
}

#IndexBox {
    border-style: solid;
    border-color: white;
    height: 174px;
}

#BigLetters {
    color: #ab35bb;
}

#PostFooter {
    display: flex;
    margin-top: auto;
}

#Box {
    border-style: solid;
    border-color: white;
    height: 174px;
}

#Warning{
    color: yelow;
}

#location {
    background-color: yellow;
    color: black;
}